<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="UTF-8">
    <title>ვიდეოს ატვირთვა</title>
</head>
<body>
    <h1>ვიდეოს ატვირთვა</h1>
    <form method="POST">
        <label>Youtube ბმული:</label>
        <input type="text" name="youtube_url" required><br><br>

        <label>აირჩიე კატეგორია:</label>
        <select name="category">
            <option value="ხილი">ხილი</option>
            <option value="ბოსტნეული">ბოსტნეული</option>
            <option value="ხელსაწყოები">ხელსაწყოები</option>
        </select><br><br>


        <button type="submit">ატვირთე ვიდეო</button>
    </form>
</body>
</html>
