<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="UTF-8">
    <title>ვიდეოს ატვირთვა</title>
</head>
<body>
<h2>ატვირთე YouTube ვიდეოს ბმული</h2>
<form method="POST">
    <label>ხილის ვიდეო:</label><br>
    <input type="text" name="fruit_video" placeholder="https://www.youtube.com/embed/..."><br><br>

    <label>ბოსტნეულის ვიდეო:</label><br>
    <input type="text" name="vegetable_video" placeholder="https://www.youtube.com/embed/..."><br><br>

    <label>ხელსაწყოების ვიდეო:</label><br>
    <input type="text" name="tools_video" placeholder="https://www.youtube.com/embed/..."><br><br>

    <button type="submit">შენახვა</button>
</form>
</body>
</html>
