<!DOCTYPE html>
<html lang="ka">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>პროდუქტების კატალოგი</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
  <div class="container my-5">
    <h2 class="text-center mb-4">პროდუქტების სია</h2>

    <div class="row">
      {% for p in products %}
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <img src="{{ url_for('static', filename='uploads/' ~ p.photo) }}" class="card-img-top" style="height:200px;object-fit:cover;">
          <div class="card-body">
            <h5>{{ p.name }}</h5>
            <p>{{ p.price }} ₾</p>
            <a href="{{ url_for('product_view', product_id=p.id) }}" class="btn btn-outline-primary w-100 btn-sm">დეტალურად</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
